.nav-pills .nav-item .nav-link {
    color: black;
    font-weight: bold;
}
.nav-pills .nav-item .nav-link:hover {
    color: #177dfa;
}


.edit-button {
    background-color: orange;
    border-color: black;
    color: black;
}

.edit-button:hover {
    background-color: #ff8c00;
    border-color: black;
    color: black;
    font-weight: bolder;
}

.save-button {
    background-color: deepskyblue;
    border-color: black;
    color: black;
}

.save-button:hover {
    background-color: dodgerblue;
    border-color: black;
    color: black;
    font-weight: bolder;
}

.delete-button {
    background-color: #f685a9;
    border-color: black;
    color: black;
}

.delete-button:hover {
    background-color: #ee668c;
    border-color: black;
    color: black;
    font-weight: bolder;
}

.change-visibility-button {
    background-color: #a8f32d;
    border-color: black;
    color: black;
}

.change-visibility-button:hover {
    background-color: #57dc14;
    border-color: black;
    color: black;
    font-weight: bolder;
}


