.nav-pills .nav-item .nav-link {
    color: black;
    font-weight: bold;
}
.nav-pills .nav-item .nav-link:hover {
    color: #177dfa;
}


.edit-button {
    background-color: orange;
    border-color: black;
    color: black;
}

.edit-button:hover {
    background-color: #ff8c00;
    border-color: black;
    color: black;
    font-weight: bolder;
}

.save-button {
    background-color: deepskyblue;
    border-color: black;
    color: black;
}

.save-button:hover {
    background-color: dodgerblue;
    border-color: black;
    color: black;
    font-weight: bolder;
}

.delete-button {
    background-color: #f685a9;
    border-color: black;
    color: black;
}

.delete-button:hover {
    background-color: #ee668c;
    border-color: black;
    color: black;
    font-weight: bolder;
}

.change-visibility-button {
    background-color: #a8f32d;
    border-color: black;
    color: black;
}

.change-visibility-button:hover {
    background-color: #57dc14;
    border-color: black;
    color: black;
    font-weight: bolder;
}

.success-message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #daf5d4;
    color: #237804;
    border: 1px solid #237804;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.error-message-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}



